.donated-items {
    margin: 50px auto;
    max-width: 800px;
    text-align: center;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #2e2e2e;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #06C167;
    color: #fff;
    font-size: 1.2rem;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e6e6e6;
  }
  
  @media (max-width: 768px) {
    table {
      font-size: 14px;
    }
  }
  