<div>
  <h2>Donated List Items</h2>
  
  <br>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Phone</th>
        <th>Expiry</th>
        <th>District</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.name }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.Quantity }}</td>
        <td>{{ item.Phone }}</td>
        <td>{{ item.expiry }}</td>
        <td>{{ item.District }}</td>
        <td>{{ item.Address }}</td>
      </tr>
    </tbody>
  </table>

  <br>
</div>
